nav.MainNav{
    z-index: 1;
    position:fixed;
    height:6vh;
    background-color: black;
    min-width:100vw;
    width:100%;
}
button.NavButton{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

ul.NavList{
    list-style: none;
    display: flex;
    padding-left:5%;   
}
li.NavListItem{
    color: white;
    min-width:fit-content;
    width:8%;
}

