.ProjectGridObject{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}
img.ProjectProjectImage{
    height: 18.5vw;
    width: 100%;
}
h3.ProjectDesc{
    font-size: 20px;
    padding: 0px;
    color:white;
    margin:10px;
}
a.ProjectLink{
    width:100%;
    color: white;
    text-decoration: none;
    text-align: center;
}
p.whatami{
    color:white;
    margin-bottom:10px;
    margin-top: 0px;
}