.WorksContainer{
    display: flex;
    flex-direction: column;
    height: 2000px;
    align-items: center;
}
.WorksTitleContainer{
    align-items: center;
}
.ProjectContainer{
    display:grid;
    grid-template-rows: 700px 700px ;
    grid-template-columns: 500px 500px 500px;
    grid-gap: 20px;
}
h1.WorksTitle{
    text-align: center;
    font-size: 80px;
}
.ProjectGridObject{
    grid-row: span 1;
    grid-column: span 1;
}
